.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.input-group label {
  display: block;
  margin-top: 10px;
}

.input {
  border: 1px solid #212121;
  font-size: 1.2rem;
  padding: 12px;
  transition: all 200ms ease;
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  color: #FFFFFF;
  /*background-color: #2B2A37;*/
  background-color: #2B2937;
  font-family: 'Roboto', sans-serif;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0px 2px #201E2A;
}

.input::placeholder {
  color: #C6C6C6;
}