.movie-list-item {
  margin-bottom: 32px;
  display: grid;
}

.movie-list-item .title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.movie-list-item img {
  max-width: 250px;
  margin: 0 auto;
}

.movie-list-item .trailer {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
}

.movie-list-item .trailer iframe,
.movie-list-item .trailer video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.movie-list-item .trailer::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}



@media (min-width: 576px) {
  .movie-list-item img {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .movie-list-item img {
    grid-template-columns: repeat(4, 1fr);
  }
}
